<!-- include footer -->
<%- include('include/_adminbase.ejs') %>
    <!-- /include footer -->
    <style>
        .product-name {
            max-width: 150px;
            /* Adjust the max-width according to your design */
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->

        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Recent Orders</h3>
                        <i class='bx bx-search'></i>
                        <i class='bx bx-filter'></i>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Order Id</th>
                                <th>Email</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let i=0; i < data.length; i++) { %>
                                <tr onclick="userdetails('<%= data[i]._id %>')">
                                    <td>
                                        <img src="primg/<%= data[i].products[0].prd_images[0]%>">
                                        <p class="product-name">
                                            <%= data[i].products[0].pname %>
                                        </p>
                                    </td>
                                    <td>
                                        <%= data[i]._id %>
                                    </td>
                                    <td>
                                        <%= data[i].user %>
                                    </td>
                                    <% if(data[i].status=='pending' ){ %>
                                        <td><span class="status pending">pending</span></td>
                                        <% } else if(data[i].status=='shipped' ) { %>
                                            <td><span class="status process">shipped</span></td>
                                            <% } else if(data[i].status=='deliverd' ){%>
                                                <td><span class="status completed">Delivered</span></td>
                                                <% }else if(data[i].status=='returned' ){ %>
                                                    <td><span class="status cancelled"
                                                            style="background-color: rgb(2, 42, 122);">returned</span>
                                                    </td>
                                                    <% }else if(data[i].status=='cancelled' ) {%>
                                                        <td><span class="status cancelled"
                                                                style="background-color: rgb(215, 1, 1);">Cancelled</span>
                                                        </td>

                                                        <% } %>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->
    <script>
        function userdetails(id, prId) {
            const userDetailURL = `/order-details?Id=${id}`;

            // Redirect to the user details page.
            window.location.href = userDetailURL;
        }
    </script>

    <script src="js/adminserver.js"></script>
    </body>

    </html>