
	<%- include('include/_adminbase.ejs') %>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
	<!-- MDB -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
<style>
	.name {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
		-webkit-line-clamp: 1;
		/* number of lines to show */
	}
	
</style>

<body>




	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		
			
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main style="background-color:#eee; ">

			<section>
				<form action="/add-products">
					<button class="btn btn-primary" type="submit">add Product</button>
				</form>
				<h1></h1>
				<form action="/unlisted-product">
					<button class="btn btn-warning" type="submit">unlisted Product</button>
				</form>

				<div class="row">

					<div class="row">
						<table class="table align-middle mb-0 bg-white "  id="table_id" class="display">
							<thead class="bg-light">
								<tr>
									<th style="padding-left: 4%">Name</th>
									<th>Category</th>

									<th>Price</th>
									<th>Stock</th>
									<th>Actions</th>
								</tr>
							</thead>

							<tbody>
								<% for(let i=0;i< products.length;i++){%>
									<tr>
										<td>
											<div class="d-flex align-items-center">
												<img src="primg/<%=products[i].prd_images[0]%>" alt=""
													style="width: 45px; height: 45px" class="rounded-circle" />
												<div class="ms-3">
													<p class="fw-bold mb-1 name">
														<%=products[i].pname%>
													</p>
													<!-- <p class="text-muted mb-0">john.doe@gmail.com</p> -->
												</div>
											</div>
										</td>
										<td>
											<p class="fw-normal mb-1">
												<%=products[i].category.name%>
											</p>
											<!-- <p class="text-muted mb-0">IT department</p> -->
										</td>

										<td style="color: rgb(224, 10, 10);">₹<%=products[i].price%>
										</td>
										<td>
											<%=products[i].stock%>
										</td>
										<td>
											<a style="margin-right: 3%;" href="/update-product?id=<%=products[i]._id%>"
												class="btn btn-light border px-1 pt-2 icon-hover"><i
													class="fas fa-pencil fa-lg text-secondary px-1"></i></a>
											<a style="margin-right: 3%;" href="/update-image?id=<%=products[i]._id%>"
												class="btn btn-light border px-1 pt-2 icon-hover"><i
													class="fas fa-image fa-lg text-secondary px-1"></i></a>

											<a href="javascript:void(0);"
												class="btn btn-light border px-1 pt-2 icon-hover"
												onclick="confirmDelete('<%= products[i]._id %>')">
												<i class="fas fa-trash fa-lg text-secondary px-1"></i>
											</a>
										</td>
									</tr>
									
								
									<% } %>
							</tbody>
						</table>



					</div>

			</section>




		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->


	<script src="js/adminserver.js"></script>
	<script>
		function confirmDelete(id) {
			if (confirm("Are you sure you want to unlist this product?")) {

				window.location.href = `/unlist-product?id=${id}`;
			}
		}

	</script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <script src="js/adminserver.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
    $('#table_id').DataTable();
});

    </script>
</body>

</html>