<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>checkout-page</title>
  <link rel="icon" type="image/x-icon" href="images/fav.png">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>

<body>
  <!-- include header -->
  <%- include('include/_header') %>
    <!-- /include header -->
    <section class=" py-5" style="background-color:#f5f5f7;">
      <div class="container" style="background-color:#f5f5f7;">
        <div class="row">
          <div class="col-xl-8 col-lg-8 mb-4">
            <div class="card shadow-0 ">
              <div class="p-4" style="background-color:#f5f5f7;">
                <h5 class="card-title mb-3">checkout</h5>
                <div class="row">
                  <form id="checkout-form">
                    <% var updateprice=`${Number(price)+40-(60)}` %>
                      <div class="col-6">
                        <p class="mb-0">Full name</p>
                        <div class="form-outline">
                          <input name="name" type="text" id="typeText" value="  <%=users.name%>" class="form-control"
                            required />
                        </div>
                      </div>

                      <div class="col-6 mb-3">
                        <p class="mb-0">Phone</p>
                        <div class="form-outline">
                          <input type="number" name="phone" id="typePhone" value="<%=users.phone%>" class="form-control"
                            required />
                        </div>
                      </div>
                      <input type="hidden" name="prId" value="<%=prId  %>">
                      <div class="col-6 mb-3">
                        <p class="mb-0">Email</p>
                        <div class="form-outline">
                          <input type="email" id="typeEmail" value="  <%=users.email%>" name="email"
                            class="form-control" required />
                        </div>
                      </div>
                </div>

                <% if(users.address.length!=0){ %>
                  <div class="row">
                    <div class="col-sm-8 mb-3">
                      <p class="mb-0">Address</p>
                      <div class="form-outline">
                        <input type="text" id="typeText" placeholder="Type here" name="address"
                          value="  <%=users.address[a].Address%>" class="form-control" required />
                      </div>
                    </div>

                    <div class="col-sm-4 mb-3">
                      <p class="mb-0">City</p>
                      <div class="form-outline">
                        <input type="text" id="typeText" value="  <%=users.address[a].City%>" name="city"
                          placeholder="city" class="form-control" required />
                      </div>
                    </div>

                    <div class="col-sm-4 mb-3">
                      <p class="mb-0">House NO.</p>
                      <div class="form-outline">
                        <input name="houseNo" type="text" id="typeText" placeholder="Type here"
                          value=" <%=users.address[a].House_No%>" class="form-control" required />
                      </div>
                    </div>

                    <div class="col-sm-4 col-6 mb-3">
                      <p class="mb-0">Postal code</p>
                      <div class="form-outline">
                        <input type="text" id="typeText" name="postalCode" class="form-control"
                          value=" <%=users.address[a].postcode%>" required />
                      </div>
                    </div>

                    <div class="col-sm-4 col-6 mb-3">
                      <p class="mb-0">Alternate Number</p>
                      <div class="form-outline">
                        <input type="text" id="typeText" name="alternateNumber" class="form-control"
                          value="  <%=users.address[a].altr_number%>" required />
                      </div>
                    </div>
                  </div>
                  <% } else{%>
                    <div class="row">
                      <div class="col-sm-8 mb-3">
                        <p class="mb-0">Address</p>
                        <div class="form-outline">
                          <input type="text" id="typeText" placeholder="Type here" name="address" value=" "
                            class="form-control" required />
                        </div>
                      </div>

                      <div class="col-sm-4 mb-3">
                        <p class="mb-0">City</p>
                        <div class="form-outline">
                          <input type="text" id="typeText" value="" name="city" placeholder="city" class="form-control"
                            required />
                        </div>
                      </div>

                      <div class="col-sm-4 mb-3">
                        <p class="mb-0">House NO.</p>
                        <div class="form-outline">
                          <input name="houseNo" type="number" id="typeText" placeholder="Type here" value=""
                            class="form-control" required />
                        </div>
                      </div>

                      <div class="col-sm-4 col-6 mb-3">
                        <p class="mb-0">Postal code</p>
                        <div class="form-outline">
                          <input type="number" id="typeText" name="postalCode" class="form-control" value="" required />
                        </div>
                      </div>

                      <div class="col-sm-4 col-6 mb-3">
                        <p class="mb-0">Alternate Number</p>
                        <div class="form-outline">
                          <input type="number" id="typeText" name="alternateNumber" class="form-control" value=" "
                            required />
                        </div>
                      </div>
                    </div>
                    <%} %>
                      <div class=" mb-3">
                        <p class="text-dark  mb-5 h">
                          <a href="#" data-bs-toggle="modal" data-bs-target="#changeAddressModal"
                            style="color: #232F3E;text-decoration: underline;">Change Address</a>
                        </p>
                      </div>
                      <div class="mb-3">
                        <h5>Select Payment Method</h5>
                      
                        <!-- Credit Card Payment -->
                        <div class="form-check mb-3">
                          <input class="form-check-input visually-hidden" type="radio" name="payment" id="creditCardPayment" value="Online_Payment">
                          <label class="form-check-label d-flex align-items-center" for="creditCardPayment">
                              <!-- <i class="fas fa-credit-card me-2" style="font-size: 24px;"></i> -->
                              Credit Card
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input visually-hidden" type="radio" name="payment" id="payment2" value="COD">
                          <label class="form-check-label d-flex align-items-center" for="payment2">
                              <!-- <i class="fas fa-money-bill-wave me-2" style="font-size: 24px;"></i> -->
                              Cash On Delivery (COD)
                          </label>
                      </div>
                      </div>

                      <div class="float-end">
                        <div class="container">
                          <div class="row">


                            <input type="text" hidden name="totalsum" value="<%=updateprice%>">
                            <button type="submit" class="btn shadow-0 border"
                              style="color: antiquewhite; background-color: #232F3E;">Continue</button>
                          </div>
                        </div>
                        </form>
                      </div>
              </div>
            </div>
            <!-- Checkout -->
          </div>
          <div class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end">
            <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px;">
              <h6 class="mb-3">Summary</h6>
              <div class="d-flex justify-content-between">
                <p class="mb-2">Total price:</p>
                <p class="mb-2">₹<%= price %>
                </p>
              </div>
              <div class="d-flex justify-content-between">
                <p class="mb-2">Discount:</p>
                <p class="mb-2 text-danger">- ₹60.00</p>
              </div>
              <div class="d-flex justify-content-between">
                <p class="mb-2">Shipping cost:</p>
                <p class="mb-2">+ ₹40.00</p>
              </div>
              <hr />
              <div class="d-flex justify-content-between">
                <p class="mb-2">Total price:</p>
                <p class="mb-2 fw-bold">₹<%= updateprice %>
                </p>
              </div>
              <div class="input-group mt-3 mb-4">
                <input type="text" class="form-control border" name="" placeholder="Promo code" />
                <button class="btn btn-light text-primary border">Apply</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <body>
    </body>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
    <div class="modal fade" id="changeAddressModal" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="text-decoration:dotted;">Change Address
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Add your list of addresses or form for changing addresses here -->
            <% for (let i=0; i < users.address.length; i++) { %>
              <p>Address <%= i + 1 %>: <%=users.address[i].City%>,<%=users.address[i].House_No%>

                      <%=users.address[i].postcode%>
                        <form action="/checkout/address?id=<%= i %>&prId=<%= prId %>" method="post">
                          <input type="text" value="<%=price %>" hidden name="totalsum">
                          <button type="submit" class="btn btn-primary">Select</button>
                        </form>
              </p>
              <% } %>
                <p><a href="/Add-address/checkout">Add new Address</a></p>
                <!-- Add form or additional content for changing addresses -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <!-- Add additional buttons or actions as needed -->
          </div>
        </div>
      </div>
    </div>
    <!-- include footer -->
    <%- include('include/_footer') %>
      <!-- include footer -->
</body>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  $("#checkout-form").submit((e) => {
    e.preventDefault();
    $.ajax({
      url: `/submit-order?prId=${'<%=prId%>'}`,
      method: 'post',
      data: $('#checkout-form').serialize(),
      success: (response) => {
        if (response.url) {
          return window.location.href = response.url;
        }
        razorpayPayment(response);
      },
    });
  });
  function razorpayPayment(order) {
    var options = {
      "key": "rzp_test_JrHZi49O6mvXnR",
      "amount": "<%= updateprice %>",
      "currency": "INR",
      "name": "infinity",
      "description": "Test Transaction",
      "image": "",
      "order_id": order.razorpay_order_id,
      "handler": function (response) {
        $.ajax({
          url: `/payment-verified?prId${'<%=prId%>'}`,
          method: 'post',
          data: {
            order: order,
            paymentResponse: response
          },
          success: (response) => {
            window.location.href = response
          }
        });
      },
      "prefill": {
        "name": "",
        "email": "",
        "contact": "9000090000"
      },
      "notes": {
        "address": "Razorpay Corporate Office"
      },
      "theme": {
        "color": "#232F3E;"
      }
    };
    var rzp = new Razorpay(options);
    rzp.open();
  }
</script>

</html>