    <!-- include header -->
<%- include('include/_header') %>
    <!-- /include header -->

    <section class="bg-light my-5">
        <div class="container">
            <div class="row">
                <h5>Your Orders</h5>
                <div class="col-lg-9">
                    <% if (data.length> 0) { %>
                        <% for (let i=0; i < data.length; i++) { %>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <p style="font-size: 12px;" class="card-title">Order ID: <span
                                            style="font-weight: bold;">
                                            <%= data[i]._id %>
                                        </span></p>
                                    <% for (let j=0; j < data[i].products.length; j++) { %>
                                        <div class="row gy-3 mb-2">
                                            <div class="col-2">
                                                <img src="primg/<%= data[i].products[j].prd_images[0] %>"
                                                    class="img-fluid" alt="<%= data[i].products[j].pname %>" />
                                            </div>
                                            <div
                                                class="col-8 d-flex flex-column align-items-start d-flex justify-content-center">
                                                <h6 class="card-subtitle mb-2 text-muted text-center">
                                                    <%= data[i].products[j].pname %>
                                                </h6>
                                                <p class="card-text text-muted text-center">
                                                    <%= data[i].products[j].category %>
                                                </p> 
                                            </div>
                                            <div class="col-2 d-flex align-items-center">
                                                <button class="btn btn-outline-primary"
                                                    onclick="returnProduct('<%= data[i]._id %>','<%= data[i].products[j]._id %>')">Return</button>
                                            </div>
                                        </div>
                                        <% } %>
                                            <script>
                                                function returnProduct(orderId, productId) {
                                                    alert('Return product clicked! Order ID: ' + orderId + ', Product ID: ' + productId);
                                                }
                                            </script>
                                         </div>
                                     </div>
                                     <% } %>
                                         <% } else { %>
                                              <p>No Items In Orders</p>
                                      <% } %>
                                  </div>
                              </div>
                         </div>
                    </section>
   

        <!-- include footer -->
    <%- include('include/_footer') %>
         <!-- /include footer -->

        </html>