<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>infinity</title>
  <link rel="icon" type="image/x-icon" href="images/fav.png">
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  <style>
    .card-title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 2;
      /* number of lines to show */
    }

    .selected-category {
      margin-top: 10px;
      font-weight: bold;
      color: #232F3E;
      /* Change this to your desired color */
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  </style>
</head>

<body style="background-color:#f5f5f7;">
  <!--Main Navigation-->
  <header>
    <!-- Jumbotron -->
    <div class="p-3 text-center bg-white " style="background-color: #131921 !important;">
      <div class="container">
        <div class="row gy-3">
          <!-- Left elements -->
          <div class="col-lg-2 col-sm-4 col-4">
            <a href="/" class="float-start">
              <h2 style="color: aliceblue; font-weight: bolder; font: size 15px; ">infinity.</h2>
            </a>
          </div>
          <!-- Left elements -->

          <!-- Center elements -->
          <div class="order-lg-last col-lg-5 col-sm-8 col-8">
            <div class="d-flex float-end">

              <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="me-1  py-1 px-3 nav-link"
                style="color:#FFF;" target="_blank"> <i class="fas fa-heart m-1 me-md-2"></i>
                <p class="d-none d-md-block mb-0">Wishlist</p>
              </a>
              <a href="https://github.com/mdbootstrap/bootstrap-material-design" class=" py-1 px-3 nav-link"
                style="color: #FFF;" target="_blank"> <i class="fas fa-shopping-cart m-1 me-md-2 "></i>
                <p class="d-none d-md-block mb-0">My cart</p>
              </a>

            </div>
          </div>
          <!-- Center elements -->

          <div class="col-lg-5 col-md-12 col-12">
            <form action="/products" method="GET" class="input-group float-center">
              <div class="form-outline">
                <input type="search" name="search" id="form1" class="form-control" />
                <label class="form-label" for="form1" style="color: aliceblue;">Search</label>
              </div>
              <button type="submit" class="btn btn-white shadow-0">
                <i class="fas fa-search"></i>
              </button>
            </form>
          </div>
          <!-- Right elements -->
        </div>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white" style="background-color: #232F3E !important;">
      <!-- Container wrapper -->
      <div class="container justify-content-center justify-content-md-between">
        <!-- Toggle button -->
        <button class="navbar-toggler  py-2 text-white" type="button" data-mdb-toggle="collapse"
          data-mdb-target="#navbarLeftAlignExample" aria-controls="navbarLeftAlignExample" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- Navbar dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                data-mdb-toggle="dropdown" aria-expanded="false">
                SHOW CATEGORIES
              </a>
              <!-- Dropdown menu -->
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item " style="background-color: #232F3E;" href="#">LAPTOP</a>
                </li>
                <li>
                  <a class="dropdown-item" style="background-color: #232F3E;" href="#">SMARTPHONE</a>
                </li>

                <li>
                  <a class="dropdown-item" style="background-color: #232F3E;" href="#">HEADSET</a>
                </li>
                <li>
                  <a class="dropdown-item" style="background-color: #232F3E;" href="#">WATCHES</a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/products">OUR STORE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">BLOGS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">CONTACT</a>
            </li>

          </ul>
          <!-- Left links -->
        </div>
      </div>
      <!-- Container wrapper -->
    </nav>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"></script>
    <!-- sidebar + content -->
    <section class="">
      <div class="container">
        <div class="row">
          <!-- sidebar -->
          <div class="col-lg-3 mt-5">
            <!-- Toggle button -->
            <button class="btn btn-outline-secondary mb-3 w-100 d-lg-none" type="button" data-mdb-toggle="collapse"
              data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span>Show filter</span>
            </button>
            <!-- Collapsible wrapper -->
            <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
              <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button text-dark bg-light" type="button" data-mdb-toggle="collapse"
                      data-mdb-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                      aria-controls="panelsStayOpen-collapseOne">
                      Shop By Categories
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="headingOne">
                    <div class="accordion-body">
                      <ul class="list-unstyled">
                        <li><a href="/products" class="text-dark">All</a></li>
                        <% for(let i=0;i<category.length;i++){ %>
                          <li><a href="/products?category=<%= category[i].name %>" class="text-dark">
                              <%= category[i].name %>
                            </a></li>
                          <% } %>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button text-dark bg-light" type="button" data-mdb-toggle="collapse"
                      data-mdb-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                      aria-controls="panelsStayOpen-collapseTwo">
                      Brands
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                    aria-labelledby="headingTwo">
                    <div class="accordion-body">
                      <div>
                        <% for(let i=0; i<category.length; i++){ %>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="<%= category[i].name %>" <%=( cat
                              !="All" && cat.includes(category[i].name ))?'checked':'' %>
                            id="checkbox_<%= i %>" />
                              <label class="form-check-label" for="checkbox_<%= i %>">
                                <%= category[i].name %>
                              </label>

                          </div>
                          <% } %>

                            <script>
                              document.addEventListener('DOMContentLoaded', function () {
                                // Get all checkboxes
                                const checkboxes = document.querySelectorAll('input[type="checkbox"]');

                                // Add event listener to each checkbox
                                checkboxes.forEach(function (checkbox) {
                                  checkbox.addEventListener('change', updateUrl);
                                });

                                // Function to update the URL based on checked checkboxes
                                function updateUrl() {
                                  const checkedCheckboxes = Array.from(checkboxes).filter(checkbox => checkbox.checked);
                                  const categories = checkedCheckboxes.map(checkbox => checkbox.value);

                                  // Build the new URL
                                  const currentUrl = new URL(window.location.href);

                                  // Replace the current Category parameter with the updated one
                                  currentUrl.searchParams.set('category', categories.join(','));

                                  // Replace URL encoding with commas
                                  const updatedUrl = currentUrl.toString().replace(/%2C/g, ',');

                                  // Replace the current URL with the updated one
                                  window.location.href = updatedUrl;
                                }
                              });
                            </script>


                            <!-- Checked checkbox -->

                            <!-- Checked checkbox -->

                            <!-- Checked checkbox -->

                            <!-- Default checkbox -->

                            <!-- Default checkbox -->

                      </div>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button text-dark bg-light" type="button" data-mdb-toggle="collapse"
                      data-mdb-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseThree">
                      Price
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                    aria-labelledby="headingThree">
                    <div class="accordion-body">
                      <!-- <div class="range">
                      <input type="range" class="form-range" id="customRange1" />
                    </div> -->
                      <input type="hidden" name="page" value="<%= page %>">

                      <form action="" id="fromPrice">

                        <div class="row mb-3">
                          <div class="col-6">
                            <p class="mb-0">
                              Min
                            </p>
                            <div class="form-outline">
                              <input type="number" name="minPrice" id="typeNumber" class="form-control minPrice"
                                value="<%= priceMinMax.min %>" />
                              <label class="form-label" for="typeNumber">Min Price</label>
                            </div>
                          </div>
                          <div class="col-6">
                            <p class="mb-0">
                              Max
                            </p>
                            <div class="form-outline">
                              <input type="number" name="maxPrice" id="typeNumber" class="form-control maxPrice"
                                value="<%= priceMinMax.max %>" />
                              <label class="form-label" for="typeNumber">Max Price</label>
                            </div>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-white w-100 border border-secondary">apply</button>
                      </form>

                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
          <!-- sidebar -->
          <!-- content -->
          <div class="col-lg-9">
            <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
              <!-- <strong class="d-block py-2">32 Items found </strong> -->
              <div class="ms-auto">
                <select class="form-select d-inline-block w-auto border pt-1">
                  <option value="0">Best match</option>
                  <option value="1">Recommended</option>
                  <option value="2">High rated</option>
                  <option value="3">Randomly</option>
                </select>

              </div>
            </header>

            <div class="row">
              <% for(let i=0; i<products.length; i++){ %>
                <% var discount=products[i].discount %>
                  <% var originalPrice=products[i].price %>
                    <% var discountedPrice=originalPrice - (originalPrice * discount / 100) %>

                      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="card h-100 position-relative" onclick="userdetails('<%=products[i]._id%>')">
                          <% if(discount> 0) { %>
                            <div class="discount-badge position-absolute top-0 start-0 mt-2   px-2 py-1"
                              style="background-color: #febd69; color: #131921; border-radius: 90px;margin-left: 8px; font-weight: bolder;font-size:x-small;">
                              <%= discount %>% OFF
                            </div>
                            <% } %>
                              <img src="/primg/<%= products[i].prd_images[0] %>" class="card-img-top"
                                alt="<%= products[i].pname %>">
                              <div class="card-body">
                                <p class="card-text mb-2" style="color:#bf4800;font-family: 'Rubik', sans-serif;    font-weight: 400;
                      font-size: 16px;
                      letter-spacing: .3px;
                      line-height: 20px;">
                                  <%= products[i].category %>
                                </p>
                                <h5 class="card-title mb-3"
                                  style="color: #1c1b1b; font-family: 'Rubik', sans-serif;font-size: 18px;    font-weight: 800;">
                                  <%= products[i].pname %>
                                </h5>
                                <p class="card-text" style="color: #e02b40;">
                                  <% if(discount> 0) { %>
                                    <span class="original-price"
                                      style="color: #131921; text-decoration: line-through;">₹<%= originalPrice %>
                                    </span>
                                    <% } %>
                                      ₹<%= discountedPrice %>
                                </p>
                              </div>

                        </div>
                      </div>
                      <% } %>
            </div>




            <hr />
          </div>


          <!-- Pagination -->
          <!-- Pagination -->

          <% var total=total %>
            <% var limit=limit %>
              <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
                <ul class="pagination">
                  <li class="page-item <%= page === 1 ? 'disabled' : '' %>">
                    <a class="page-link" href="/products?page=<%= page - 1 %>" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>

                  <% for (let i=0; i < noPages; i++) { %>
                    <li class="page-item <%= (page === (i + 1) )? 'active' : '' %>">
                      <a class="page-link" href="/products?page=<%= i + 1 %>">
                        <%= i + 1 %>
                      </a>
                    </li>
                    <% } %>

                      <li class="page-item <%= page === noPages ? 'disabled' : '' %>">
                        <a class="page-link" href="/products?page=<%= page + 1 %>" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                </ul>
              </nav>
              <!-- Pagination -->

              <!-- Pagination -->
        </div>
      </div>
      </div>
    </section>
    <!-- sidebar + content -->
    <script>
      document.getElementById('fromPrice').addEventListener('submit', (e) => {
        e.preventDefault();
        updateUrlPrice();
      })
      function updateUrlPrice() {

        // Build the new URL
        const currentUrl = new URL(window.location.href);

        // Replace the current Category parameter with the updated one
        currentUrl.searchParams.set('minPrice', Number(document.querySelector('.minPrice').value));
        currentUrl.searchParams.set('maxPrice', Number(document.querySelector('.maxPrice').value));

        // Replace URL encoding with commas
        const updatedUrl = currentUrl.toString().replace(/%2C/g, ',');

        // Replace the current URL with the updated one
        window.location.href = updatedUrl;
      }
      function userdetails(id) {
        const productDetailURL = `/product-details?productId=${id}`;

        // Redirect to the user details page.
        window.location.href = productDetailURL;
      }

    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const currentUrl = new URL(window.location.href);
        const categoryParam = currentUrl.searchParams.get('category');
        const bestMatchSelect = document.querySelector('.form-select');

        // Display the selected category near the Best Match dropdown
        if (categoryParam) {
          const selectedCategoryDiv = document.createElement('div');
          selectedCategoryDiv.innerHTML = `Selected Category: ${categoryParam}`;
          selectedCategoryDiv.className = 'selected-category';

          // Insert the new div after the Best Match dropdown
          bestMatchSelect.parentNode.insertBefore(selectedCategoryDiv, bestMatchSelect.nextSibling);
        }
      });

    </script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
    <!-- Footer -->
</body>

</html>